:root{
    --primary-color: #2da8c9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

        /* Header */
nav{
    background: skyblue;
    padding: 10px 40px 10px 70px;
    border: 1px solid none;
    border-left: none;
    border-right: none;
}
nav ul{
    display: flex;
    list-style:  none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
nav ul li.logo{
    flex: 0.5;
}
nav ul li.logo img{
    padding: 1px; 
    float: left;
    object-fit: scale-down;
    width: 130px;
    height: 100px;
    margin: 20px 0 30px 0;
}
nav ul div.items{
    display: inline-flex;
    flex: 1;
}
nav ul div.items li{

}
nav ul div.items a{
    text-decoration: none;
    font-size: 23px;
    padding: 0 15px 0 15px;
    color: white;
    float: center;
    font-family: Times New Roman;

}
nav ul .search_icon{
    height: 30px;
    width: 240px;
    display: flex;
    background: transparent;
    border-radius: 5px;

}
nav ul .search_icon input{
    height: 100%;
    width: 150px;
    border: none;
    border-radius: 5px 5px;
    color: black;
    outline: none;
}
    /*Search Bar*/
#searchTerm {
  border: 1px solid white;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  background: transparent;
}
#searchButton {
    float: right;
    background: transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    top: 5px;
    border: 1px solid white;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

    /* Global Style */
.
.main-background{
    border: 10px solid black;
    width: clamp(auto);
}
    /* Heading */
.heading1{
    color: #2da8c9;
}
.heading1{
    display: none;
}
.heading-active {
    display: block;
}
.heading1 .head{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    word-spacing: 35px;
    letter-spacing: 1px;
}
.heading1 .par{
    font-size: 35px;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #849599;
}

/* Progress Bar */
.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 300px 10px 300px;
    counter-reset: step;
}
.progressbar:before, 
.progress{
    content: "";
    background-color: lightgray;
    position: absolute;

    top: 50%;
    height: 5px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}
.progress-step{
    padding: 30px;
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.progress-step::before{
    color: black;
    counter-increment: step;
    content: counter(step);
}
.progress-step::after{
    content: attr(data-title);
    position: absolute;
    color: #666;

}
.progress-step-active{
    background-color: var(--primary-color);
    color: black;
    animation: animate 0.5s;
}


    /*  Form */
    .main_background1{

    }

form{
    width: clamp(700px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: lightgray;
}
.form-step{
    display: none;
}
.form-step-active{
    display: block;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}
h1{
    color: #2da8c9;
}
 /* Step 1 */
.input-group label{
    color: #2da8c9;
}
.input-group.user-box1{
    float: left;
    width: 50%;
    padding: 0 10px 0 0;
}
.input-group .user-box1 input{
    display: flex;
    flex: 1;
    width: 100%;
    height: 40px;
}
.input-group .user-box3 {
    padding: 0 20px 0 10px;
}
.input-group .user-title1 {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
}
.input-group .user-box1 {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Step 2 */

.title{
    text-align: left;
    font-family: Arial;
    font-weight: 100;
    font-size: 30px;
}
#donation-title {
    margin-bottom: 20px;
}
.container-donation{
    width: clamp(auto, 30%, 400px);
    background: white;
    border-radius: 10px;
}
.input-group .user-box2 {
    padding: 0 20px 0 10px;
}
.input-group .user-box2 {
   height: 45px;
    width: 35%;
    background: lightgray;
    border-style: none;
    border-radius: 10px;
    color: black;
    margin-left: 50px;
}
.input-group .user-title2 {
    display: block;
    margin-top: 10px;
    margin-left: 11%;
}

.input-group .user-box4 {
    height: 45px;
    width: 80%;
    background: lightgray;
    border-style: none;
    border-radius: 10px;
    color: black;
    margin-left: 50px;
}


.title1{
    color: #fff;
    background: #2da8c9;
    width: 200px;
    text-align: center;
    letter-spacing: 1px;
    width: 50%;
    font-size: 25px;
    font-weight: 700;
    border-top-left-radius: 10px;
    height: 40px;
    cursor: pointer;
    float: left;
    padding: none;
}

.title2{
    background-color: #fff;
    flex-grow: 1;
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 700;
    color: #2da8c9;
    border-top-right-radius: 10px;
    height: 40px;
    cursor: pointer;
    width: 50%;
    float: right;

}
.img-div{
    width: 240px;
    height: 70px;
    position: relative;
    z-index: 2;
    top: -60px;
    left: 50%;
}

/*STEP 3 */
.input-group  .user-box5{
    height: 150px;
    width: 90%;
    border-radius: 10px;
    resize: none;
    background-color: #fff;
    border-color: transparent;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 5px;
}
.input-group .step-3 label{
    margin-left: 50px;
}
.input-group[type=checkbox]{
    display: inline-block;
}
.comment-title{
    margin-bottom: 20px;
    font-size: 25px;
}
.checkbox-label{
    display: flex;
}
.checkbox-label .checkbox{
    flex: 0.05;
    margin-left: 40px;
    color: #2da8c9;
    margin-right: 10px;
    height: 25px;
    width: 20px;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    outline: none;
}
.checkbox-label input[type=checkbox]{
    transform: scale(1.25);
    color: #2da8c9;
    box-shadow: none;
    outline: none;

}
.checkbox-label a{
    flex: 1;
    margin-left: none;
    font-size: 20px;
    float: left;
    color: #2da8c9;
}
.input-group .user-title3{
    margin: 20px 0 20px 65px;
}

    /*Button */
.button-progress{
    width: 747px;
    margin: 0 auto;
    border: 1px none ;
    border-radius: 10px;
    padding: 1.5rem;

}
.btns-group{
    gap: 125px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.width-50{
    width: 40%;
    height: 50px;

}
.ml-auto{
    margin-left: auto;
}
.button-group{
    display: flex;
    justify-content: space-between;
    gap: 125px;
    margin-bottom: 70px;
}
.button-group .btn-prev{
    float: left;
    width: 40%;
    align-content: center;
    margin-bottom: 20px;
    height: 50px;
}
.button-group .btn-next{
    float: right;
    width: 40%;
    align-content: center;
    margin-bottom: 20px;
}
.btns-group{
    display: none;
}
.btns-active{
    display: block;
}
.btn{
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}
.btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}


@media screen and (max-width: 876){
    nav ul li.logo{
    flex: 0.5;
    }
    nav ul div.items a {
        text-decoration: none;
        font-size: 20px;
        padding: 0px ;
    }
}
@media screen and (max-width: 768px) {
    nav ul{
        display: flex;
        list-style:  none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    nav ul li.logo{
        flex: 1;
        padding: 1px;
    }
    nav ul li.logo img{
        padding: 0.5px;
        float: left;
        width: 125px;
        height: 125px;
    }
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    }
    ul .items{
        position: fixed;
        margin-top: 75px;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        top: 90px;
        left: -100%;
        background: gray;
        display: block;
        transition: all .5s;
    }
    nav ul div.items a{
        display: inline-block;
        position: relative;
    }
    nav ul .search_icon {
        margin-top: 120px;
        float: center;
    }
    a:hover,a.active{
        background: none;
    }
    nav ul .items .show {
        left: 0;
    }
}